.Welcome {
  margin: 10px;
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.App h1, h2, h3, h4 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  color: black;
}

.App h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.App h1 {
  color: gold;
  background: rgb(167, 0, 0);
}

.App body {
  font-family: 'Noto Sans SC', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MainContainer {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
}

.SiteMap {
  background: #ccc;
  display: flex;
  flex-flow: wrap row;
  padding: 10px /* Same as Footer */
}

.SiteMap a{
  color: red;
}

.SiteMap div {
  padding-left: 10px;
  padding-right: 10px;
}

.SiteMap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header {
  background: #ccc;
  margin: 0px;
  padding: 0px;
}

.Header h1 {
  background: rgb(167, 0, 0);
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  font-size: 120%;
}

.Header img {
  max-width: 100%;
}

.Header a {
  color: black;
  font-size: 150%;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.Header a:hover {
  text-decoration-line: underline;
}

.Footer {
  background: rgb(167, 0, 0);
  color: gold;
  padding: 10px /* Same as SiteMap */
}

.Footer a {
  color: orange;
}
.Footer .NavButton {
  float: right;
}

.Events {
  flex-grow: 1;
  margin: 10px;
}

.FAQ {
  flex-grow: 1;
  margin: 10px;
}

.News {
  flex-grow: 1;
  margin: 10px;
}

.NewsStory {
  background: rgb(238, 238, 238);
  margin: 10px;
}

.NewsStory h3 {
  background: #888;
  padding: 10px;
}

.NewsStory p {
  text-indent: 2em;
}

.Photo {
  float: left;
  text-align: center;
}

.Photo img {
  height: auto;
  border-radius: 70%;
  margin: 15px;
  max-width: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
